
.ftask_search{
    position: relative;
    width: 250px;
    margin-left:10px;
}

 .ftask_search .input {
    color: #000;
    font: 600 14px Arial;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 52px 0 17px;
    letter-spacing: -.01em;

    border-radius: 3px;
    background: #fff;
      border-color .2s linear;
     border: 1px solid #f1f1f1;
     box-sizing: border-box;
}

 .ftask_search .submit_btn {
     width: 119px;
     height: 39px;
     margin-left: -50px;
     cursor: pointer;
     transition: opacity .2s linear;
     opacity: .5;
     border: none;
     border-radius: 3px;
     background: #ccc url(/local/components/ftask/search.ajax/images/search.png) 92px 50% no-repeat;
     position: absolute;
     right: 0px;
     text-align: left;
     top: 0px;
     padding-left: 13px;

 }
.ftask_search .tips {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    display: none;
    width: 600px;
    margin-top: 3px;
    padding: 15px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
}
.ftask_search .tip:hover {
    background: #fbfbfb;
}
.ftask_search .tips .tip .thumb {
    display: flex;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    transition: border-color .2s linear;
    border: 1px solid #f1f1f1;
    background: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.ftask_search .tips .tip {
    display: flex;
    padding: 5px 29px 5px 20px;
    transition: .2s linear;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.ftask_search .tips .tip .info {
    color: #666;
    font: 600 13px Arial;
    width: 485px;
    max-width: calc(100% - 265px);
    letter-spacing: -.01em;
}
.ftask_search .tips .tip .cat {
    margin-bottom: 3px;
}
.ftask_search .tips .tip .name {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    transition: color .2s linear;
}
.ftask_search .tips .tip .link {
    color: #fc6500;
    font: 600 12px/38px Arial;
    width: 150px;
    height: 40px;
    margin-left: auto;
    transition: .2s linear;
    text-align: center;
    letter-spacing: -.01em;
    border: 1px solid #fbceaf;
    border-radius: 30px;
}